button{
    padding: 0;
    margin: 0;
    border: 1px solid;
}

.btn-wrap{
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 0;

    border-radius: 0 0 5% 5%/0 0 10% 10%;
}
.btn-num{
    width: 70px;
}
.btn-reset{
    width: 210px;

}
.btn-submit{
    width: 70px;
}
.btn-oper{
    width: 70px;

}
.zero{
    width: 210px;
}
.expression{
    height: 20px;
    width: 280px;
    color: gray;
    margin: 0;
    
    font-size: 0.8em;
}
.text-num{
    margin: 0;

}
.text-area{
    width: 280px;
    padding: 20px;
    border-radius: 10% 10% 0 0 / 20% 20% 0 0;
    
}